---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Page.
body {
  background: #fff;
}
#page-inner {
  background: #fff; 
}

// Header.
.site-header {
  background: #ddd;
}
#header-image {
  position: relative;
  display: block;
  height: 240px;
  background-image: url("/gfx/cookinsanity_header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
#header-image-label {
  position: absolute;
  right: 20%;
  bottom: 20px;
  font-size: 4em;
  color: #fff;
  text-decoration: none;
  line-height: 0.9;
  @media (max-width: 767px) {
    right: auto;
    left: 20px;
  }
}

// Navigation bar.
.navbar {
  //border-left: none;
  //border-right: none; 
}
.navbar-brand.active {
  color: #5e5e5e;
}

// Sidebar.
.sidebar {
  .active {
    background-color: #eee;
  }
}

// Tile.
.tile {
  .tile-image {
    max-width: 100px;
  }
}

// Footer
footer {
  margin: 2em 0;
  .nav-justified {
    margin-top: -10px;
  }  
}
