---
layout: default
---
<div class="row">
  <div class="col-sm-12">
    <div class="post">
      <header class="post-header">
        <h2 class="post-title">
          {{ page.title }}
        </h2>
        <p class="post-meta">
          Posted on
          {{ page.date | date: "%b %-d, %Y" }}
          {% if page.author %}
            {% assign author = site.data.authors[page.author] %}
            {% if author %}
              by {{ author.name }}.
            {% endif %}
          {% endif %}
        </p>
      </header>
      <article class="post-content">
        <img class="tile-image"
          src="{{ page.thumbnail | prepend: site.baseurl }}"
        />
        {{ content }}
      </article>
    </div>
  </div>
</div>